<script id="result-template" type="text/x-handlebars-template">


	<div style="text-align:right">
		<a class="btn btn-link result-back-btn" >
			<i class="fa fa-reply"></i> Back to Search Results
		</a>
	</div>

	<h2><a class="dark-blue" href="{{link}}" target="_blank">{{{new}}}{{title}}</a></h2>

	<div style="padding:20px; border-bottom: 1px solid #ccc">
		{{{description}}}
	</div>

	<h3 class="light-blue">Grant Details</h3>

	<div class="row" style="padding: 10px 0 30px 0">
		<div class="col-sm-3 col-md-offset-1">
			<a href="{{link}}" target="_blank"><i class="fa fa-external-link"></i> Link to Grant</a>
		</div>
		<div class="col-sm-3 result-link-center" >
			<a href="http://www.addthis.com/bookmark.php?v=20" onmouseover="return addthis_open(this, '', '{{cUrl}}', '{{title}}')" onmouseout="addthis_close()" onclick="return addthis_sendto()">
				<i class="fa fa-share-alt"></i> Share This
			</a>
		</div>
		<div class="col-sm-3 result-link-right">
			<a target="_blank" href="{{ical}}"><i class="fa fa-calendar"></i> Add to Calendar</a>
		</div>
	</div>


	<div class="row" >
		<div class="col-md-5 col-md-offset-1">
			{{#ifCond amount}}
				<div><b>Amount: </b> <span class="light-gray">{{amount}}</div>
			{{/ifCond}}
			{{#ifCond assitanceType}}
				<div><b>Assistance Type: </b> <span class="light-gray">{{assitanceType}}</div>
			{{/ifCond}}
			{{#ifCond organization}}
				<div><b>Funding Organization: </b> <span class="light-gray">{{organization}}</div>
			{{/ifCond}}
			{{#ifCond contact}}
				<div><b>Contact: </b> <div class="light-gray" style="padding:10px">{{{contact}}}</div></div>
			{{/ifCond}}
			{{#ifCond CFDANumber}}
				<div><b>CFDA Number: </b> <span class="light-gray">
					<a href="http://apply07.grants.gov/apply/GetGrant?cfda={{CFDANumber}}" target="_blank">{{CFDANumber}}</a>
				</div>
			{{/ifCond}}
			{{#ifCond fundingOppNumber}}
				<div><b>Funding Opportunity Number: </b> <span class="light-gray">
					<a href="http://apply07.grants.gov/apply/GetGrant?opportunity={{fundingOppNumber}}" target="_blank">{{fundingOppNumber}}</a>
				</div>
			{{/ifCond}}
		</div>
		<div class="col-md-5">
			{{#ifCond dueDate}}
				<div><b>Application Due Date: </b> <span class="light-gray">{{dueDate}}</div>
			{{/ifCond}}
			{{#ifCond office}}
				<div><b>Office: </b> <span class="light-gray">{{office}}</div>
			{{/ifCond}}
			{{#ifCond category}}
				<div><b>Catagory: </b> <div class="light-gray" style="padding:10px">{{{category}}}</div></div>
			{{/ifCond}}
			{{#ifCond costSharing}}
				<div><b>Cost Sharing: </b> <span class="light-gray">{{costSharing}}</div>
			{{/ifCond}}
			{{#ifCond eligibleApplicants}}
				<div><b>Eligible Applicants: </b> <div class="light-gray" style="padding:10px">{{{eligibleApplicants}}}</div></div>
			{{/ifCond}}
		</div>
	</div>


	<div class="row" style="padding: 20px 0">
		<div class="col-md-10 col-md-offset-1">
			<b>Additional Eligibility Info:  </b> <div class="light-gray" style="padding:10px">{{{additionalEligibilityInfo}}}</div>
		</div>
	</div>

	<a class="btn btn-link pull-right result-back-btn" >
		<i class="fa fa-reply"></i> Back to Search Results
	</a>
	
</script>